:root{
    --color-purple : #7d71d3;
    --color-light-purple: #8176d4;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

button{
    outline:0;
    border:none;
    background:transparent;
}

button,button:focus{
    cursor:pointer;
}

a{
    text-decoration:none;
    color:black;
}

ul{
    list-style:none;
}



/*=== nav ===*/
nav{
    width:100%;
    padding:25px 16px;
    background-color:var(--color-purple);
    position:sticky;
    top: 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

nav .container{
    max-width:720px;
    margin: 0 auto;
}

nav .container .top{
    width: 1005;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav .menu{
    display:none;
}

nav .menu ul{
    text-align:center;
}

nav .menu li{
    margin-top:1rem;
}

nav .menu li a{
    color : white;
    font-size:0.8rem;
    font-weight: lighter;
}

.container > a{
    margin-left: 1rem;
}

.is_on{
    display:block !important;
}

.moreBtn{
    color:white;
    font-size:1.25rem;
    margin-right: 1rem;
}

/*=== main ===*/
main{
    width:100%;
    height:100%;
    background-color: var(--color-light-purple);
    padding: 80px 0 100px;
}

.homeBanner_container{
    width:100%;
}

.homeBanner_container .row{
    margin: 0 auto;
    max-width:720px;
    display: flex;
}

.homeBanner_container .row .content{
    margin-right: 100px;
}

.homeBanner_container .row .content h1{
    color:white;
    font-size:4rem;
}

.homeBanner_container .row .content h5{
    margin-top: 30px;
    color:white;
    font-size:1rem;
}

.homeBanner_container .row .content a{
    width:280px;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #232323;
    color:white;
    display:flex;
    align-items:center;
}

.homeBanner_container .row .content a i{
    margin-right: 20px;
    font-size: 3rem;
}

.iphone_banner{
    max-height:550px;
}

