:root{
    --color-purple : #7d71d3;
    --color-light-purple: #8176d4;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

button{
    outline:0;
    border:none;
    background:transparent;
}

button,button:focus{
    cursor:pointer;
}

a{
    text-decoration:none;
    color:black;
}

ul{
    list-style:none;
}



/*=== nav ===*/
nav{
    width:100%;
    padding:25px 16px;
    background-color:var(--color-purple);
    position:sticky;
    top: 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

nav .container{
    max-width:720px;
    margin: 0 auto;
}

nav .container .top{
    width: 1005;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav .menu{
    display:none;
}

nav .menu ul{
    text-align:center;
}

nav .menu li{
    margin-top:1rem;
}

nav .menu li a{
    color : white;
    font-size:0.8rem;
    font-weight: lighter;
}

.container > a{
    margin-left: 1rem;
}

nav .is_on{
    display:block !important;
}

.moreBtn{
    color:white;
    font-size:1.25rem;
    margin-right: 1rem;
}

/*=== main ===*/
main{
    width:100%;
    height:100%;
}

.row{
    margin: 0 auto;
    max-width:720px;
}

/*=== banner_contentBox ===*/
.banner_contentBox{
    width:100%;
    background: var(--color-light-purple);

    padding: 80px 0 100px;
}

.banner_contentBox .row{
    display:flex;
}

.banner_contentBox .leftBox{
    margin-right: 100px;
}

.banner_contentBox .leftBox h1{
    color:white;
    font-size:4rem;
}

.banner_contentBox .leftBox h5{
    margin-top: 30px;
    color:white;
    font-size:1rem;
}

.banner_contentBox .leftBox a{
    width:280px;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #232323;
    color:white;
    display:flex;
    align-items:center;
}

.banner_contentBox .leftBox a i{
    margin-right: 20px;
    font-size: 3rem;
}

.iphone_banner{
    max-height:550px;
}

/*===brief_contentBox===*/

.brief_contentBox{
    width:100%;
    background-color:rgba(100,100,100,0.1);
    padding: 80px 0px 80px 0px;
    
}

.brief_contentBox .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone_feature{
    max-height:600px;
}

.brief_contentBox .item{
    display:flex;
    background: white;
    max-width:600px;
    padding:30px;
    margin-top:30px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.brief_contentBox .item > i{
    font-size: 2.5rem;
    color:var(--color-purple);
}

.brief_contentBox .item .content{
    margin-left: 30px;
}


.brief_contentBox .content h3{
    margin-bottom:10px;
    font-size:1.2rem;
}

.brief_contentBox .content p{
    line-height:1.5;
}

.brief_contentBox .is_on, .brief_contentBox .is_on > i{
    background:var(--color-purple);
    color:white;
}

/*=== feature_contentBox ===*/
.feature_contentBox{
    background:white;
    padding:60px 0px 60px 0px;
}

.feature_contentBox .row{
    max-width:720px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.feature_contentBox p{
    margin-top:15px;
    color:#999999
}

.feature_contentBox .content{
    margin-top: 40px;
}

.feature_contentBox .content h3{
    margin-top:15px;
}

#feature_top h1{
    font-size:42px;
}

#feature_top p{
    display:block;
    margin:30px auto;
    width:70%;
}

.feature_contentBox .content > i{
    font-size:4rem;
    color:var(--color-purple);
}

.feature_contentBox .iphone_screen{
    margin-top:40px;
    max-height:400px;
}

/*=== video_contentBox ===*/
.video_contentBox{
    background:var(--color-light-purple);
}

.video_contentBox .row{
    width:720px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:80px 0px 80px 0px;
}

.video_contentBox .content{
    width:100%;
    height:auto;
}

.video_contentBox iframe{
    margin: 0 auto;
    display: block;
}

/*=== subscription_contentBox ===*/
.subscription_contentBox{
    background:rgba(100,100,100,0.05);
    padding: 80px 0px 80px 0px;
}

.subscription_contentBox .row{
    width:720px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.subscription_top h1{
    font-size:3rem;
    font-weight:lighter;
}

.subscription_top p{
    color:#999999;
    width:70%;
    display:block;
    margin: 15px auto 0px;
    line-height:1.5;
}

.subscription_contentBox .container{
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.subscription_contentBox .item{
    width:40%;
    padding: 40px 0px;
    box-shadow: 0px 3px 10px 0px rgba(100, 100, 100, 0.5);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px 15px;
    background:white;
}

.subscription_contentBox .item > *{
    margin-top: 15px;
}

.subscription_contentBox .item h5{
    font-size:1.2rem;
    font-weight:bold;
}

.subscription_contentBox .item li{
    color:#999999;
    margin-top: 15px;
}

.subscription_contentBox .item button{
    border-radius:100px;
    padding: 15px 40px;
    font-size:1.2rem;
    text-align:center;
    margin-top:30px;
    color:white;
}

.subscription_contentBox .price h3{
    font-size:2.2rem;
    display:inline;
}

#subscript_free .price{
    color:var(--color-light-purple);
}

#subscript_free button{
    background:var(--color-light-purple);
}

#subscript_basic .price{
    color:#ff698d;
}

#subscript_basic button{
    background:#ff698d;
}

#subscript_advance .price{
    color:var(--color-light-purple);
}

#subscript_advance button{
    background:var(--color-light-purple);
}

/*=== download_contentBox ===*/
.download_contentBox{
    background:var(--color-light-purple);
    color:white;
}

.download_contentBox .row{
    max-width:720px;
    padding: 60px 0px;
}

.download_contentBox h1{
    font-size:2.6rem;
    font-weight:lighter;
}

.download_contentBox p{
    margin-top:30px;
    font-size:0.9rem;
    line-height:2;
}

.download_contentBox .buttons{
    margin-top:30px;
    display:flex;
}

.download_contentBox a{
    width:280px;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #232323;
    color:white;
    display:flex;
    align-items:center;
    margin-right:20px;
    border-radius:5px;
}

.download_contentBox a i{
    margin-right: 20px;
    font-size: 3rem;
}

/*=== record_contentBox ===*/
.record_contentBox{
    background:rgba(100,100,100,0.2);
}

.record_contentBox .row{
    max-width:720px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:120px 0px;
}

.record_contentBox .content{
    width:45%;
    padding: 30px 0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:var(--color-purple);
    color:white;
    margin:15px;
    border-radius: 5px;
}

.record_contentBox .content h3{
    font-size:2.3rem;
    margin-bottom:15px;
}

/*=== team_contentBox ===*/
.team_contentBox{
    background:rgba(100,100,100,0);
}

.team_contentBox .row{
    max-width:720px;
    padding:60px 0px;
}

.team_top{
    width:100%;
    text-align:center;
}

.team_top h1{
    font-size:3rem;
    font-weight:lighter;
}

.team_top p{
    margin: 0 auto;
    display: block;
    width:65%;
    color:#999999;
    line-height:2;
    margin-top:15px;
}

.team_contentBox .container{
    width:100%;
    margin:15px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.team_contentBox .content{
    width:45%;
    padding:30px;
    margin:15px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.team_contentBox .content > *{
    margin-bottom:20px;
}

.team_contentBox .content img{
    border-radius:50%;
}

.team_contentBox .content .info h5{
    font-size:1.2rem;
}

.team_contentBox .info p{
    color:#999999;
    font-size:0.8rem;
    margin-top:10px;
}

.team_contentBox .progress{
    width:100%;
    display:flex;
    align-items:center;
}

.team_contentBox .bar{
    display:inline-block;
    width:80%;
    height: 5px;
    border-radius:100px;
    background:#d8d9da;
}

.team_contentBox .progressing{
    height: 5px;
    border-radius:100px;
    background:var(--color-purple);
}

.team_contentBox .progress p{
    margin-left: 15px;
    font-size:0.7rem;
}

.team_contentBox .sns_container button{
    width:35px;
    height:35px;
    text-align:center;
    border-radius:50%;
    background:#F8F8F8;
    color:#999999;
    font-size:1.2rem;
    margin-right:10px;
}

.team_contentBox .sns_container button:hover{
    color:var(--color-purple);
}

/*=== review_contentBox ===*/
.review_contentBox{
    width:100%;
    background:var(--color-purple);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.review_contentBox .row{
    max-width:720px;
    padding:60px 0px;
}

.review_top{
    width:100%;
    text-align:center;
}

.review_top h1{
    font-size:3rem;
    font-weight:lighter;
    margin-bottom:30px;
}

.review_top p{
    margin: 0 auto;
    display: block;
    width:65%;
    line-height:2;
}

.review_contentBox .content{
    /*display:flex*/
    display:none;
}

.review_contentBox .content:nth-child(1){
    display:flex;
}

.review_contentBox .content .imgContainer{
    min-height:350px;
    min-width:300px;
    margin-right:15px;
    background-size:cover;
    background-position: 15px 0;
    background-repeat:no-repeat;
    
}

.review_contentBox .commentBox{
    min-width:390px;
    background:white;
    width:50%;
    padding:24px;
} 

.review_contentBox .commentBox .title{
    font-weight:bold;
    color:black;
}

.review_contentBox .commentBox p{
    margin-top:15px;
    color:#999999;
    font-size:1.5rem;
    font-style:italic;
}

.review_contentBox .commentBox .name{
    display:block;
    margin-top:15px;
    color:black;
}

.review_contentBox .commentBox .info{
    color:#999999;
    display:block;
    margin-top:15px;
    font-size:0.8rem;
}

.review_contentBox .container button{
    position:absolute;
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    color:#999999;
    font-size:1.2rem;
    transform:translateY(-50%);
}

.review_contentBox .container button:hover{
    color:var(--color-purple);
}

.review_contentBox .container{
    margin-top:60px;
    width:100%;
    position:relative;
}

.review_contentBox .container .leftBtn{
    left:-80px;
    top:50%;
}

.review_contentBox .container .rightBtn{
    right:-80px;
    top:50%;
}

.review_contentBox .container button > i{
    display:block;
    margin:0 auto;
}











